body {
	 font-family: 'Special Elite', cursive;
     background: url("http://thedigitalyardsale.com/freebies/7-17/old_paper6.jpg") no-repeat center bottom;}

h1 {
	text-align: center;
	width: 100%;}
h2 {
	text-align: center;
	width: 100%;}
